@"
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      serviceAccountName: webapp-admin-sa
      containers:
      - name: web-app
        image: nginx:latest
        volumeMounts:
        - name: mongo-creds
          mountPath: /etc/secrets
          readOnly: true
      volumes:
      - name: mongo-creds
        configMap:
          name: mongodb-creds
"@ | Out-File -Encoding utf8 deployment.yaml
